<% if @user.boardrooms.any? %>
  <% @boards.each do |board| %>
  <ul class="user-boards-list">
    <li class="user-boards-item">
      <%= link_to boardroom_path(board.id), class: "btn btn-read" do %>
        <%= "#{board.article.title.slice(0..15)} Part.#{board.id}" %>
      <% end %>
    </li>
  </ul>
  <% end %>
<% else %>
  <h5 class="not-found-message">Boards are not found.</h5>
<% end %>
