<% unless current_user.eql?(@user) || current_user.eql?(nil) %>
  <div id="follow_form" class="follow-button">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>
