<!-- user profile -->
<%= render 'user_profile', user: @user %>

<!-- user menu-tab -->
<%= render 'user_menutab', user: @user %>

<div class="follow-member-box">
  <h5 class="follow-heading"><%= @title %></h5>
  <% if @users.any? %>
    <div class="users follow row">
      <%= render @users %>
    </div>
  <% end %>
</div>
