<div class="previews">
  <ul class="slider">
    <% articles.each do |article| %>
      <li>
        <a href="<%= article_path(article) %>"><img src="<%= url_for(article.image) %>" alt="" class="slider-img"></a>
      </li>
    <% end %>
    <!-- slide placeholder image -->
    <% if articles.size < MAX_SLIDE_NUM %>
      <% (MAX_SLIDE_NUM - articles.size).times do %>
        <li>
          <%= image_tag 'sea' %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
