<div class="previews">
  <div class="slider">
    <% articles.each do |article| %>
      <%= image_tag article.image %>
    <% end %>
    <!-- slide placeholder image -->
    <% if articles.size < MAX_SLIDE_NUM %>
      <% (MAX_SLIDE_NUM - articles.size).times do %>
        <%= image_tag 'sea' %>
      <% end %>
    <% end %>
  </div>
</div>
