/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "slick-theme";
 @import "slick";
 @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
 // @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.mw-md {
  max-width: 576px;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.main-container {
  margin-top: 80px;
  margin-bottom: 120px;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* login, resistration */
.container-login {
  @extend .container-fluid;
  border: 1px solid silver;
  border-radius: 5px;
  max-width: 576px;
  padding: 2rem;
}

@media screen and (max-width: 765px) {
  .container-login {
    @extend .container-fluid;
    border: none;
    max-width: 576px;
    padding: 2rem;
  }
}

/* header */
/* hamberger */
.navbar-toggler {
  padding-top: 5px;
  padding-bottom: 8px;
  // padding-top: 10px;
  // padding-bottom: 10px;
  // border-radius: 50%;
  border: 1px solid #ffea00 !important;
}

.navbar-toggler span {
  vertical-align: 10%;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffea00;
}

.fa-buffer {
  font-size: 15px;
  color: #ffea00;
}

.bgimage {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), image-url('newstop.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 15%;
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 180px;
}

@media screen and (max-width: 700px) {
  .bgimage {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), image-url('newstop.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center 20%;
    background-size: cover;
    padding-top: 160px;
    padding-bottom: 160px;
    margin-bottom: -30px;
  }

  .top-heading {
    text-align: center;
    color: #f3f3f3;
  }

  .top-heading span {
    font-size: 24px;
  }
}

#logo {
  font-size: 1.7em;
  font-family: 'Courgette', cursive !important;
  color: #ffea00;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #ffdc00;
  text-decoration: none;
}

.header-item a {
  color: #f3f3f3 !important;
}

.header-item a:hover {
  color: #d3d3d3 !important;
}

.header-avator {
  width: 100%;
  border-radius: 50%;
  border: 2px solid silver;
  max-width: 30px;
}

.header-icon {
  font-size: 1.3em;
  color: #f3f3f3;
  vertical-align: -6px;
}

/* top-heading */
.top-heading {
  font-size: 48px;
  text-align: center;
  color: #f3f3f3;
}

/* index (foundational)*/
.guide {
  margin-top: 100px;
}

@media screen and (max-width: 800px) {
  .guide {
    margin-top: 40px;
  }
  .servise-guide-image {
    display: none;
  }
  .system-guide-image {
    display: none;
  }
}

.resistration-guide {
  text-align: center;
  margin-bottom: 200px;
}

@media screen and (max-width: 765px) {
  .resistration-guide-heading {
    font-size: 24px;
  }
}

/* button layout */
.resistration-button {
  display: inline-block;
  color: #f3f3f3;
  background: linear-gradient(to right, #026be2, #223a70);
  position: relative;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  margin: 20px 18px;
  padding: 15px 30px;
  letter-spacing: 1px;
  // cursor: pointer;
  font-size: 21px;
  border-radius: 10px;
  overflow: hidden;
}

.resistration-button:hover {
  color: #f3f3f3;
  text-decoration: none;
}

.resistration-button:before {
  content: "";
  position: absolute;
  height: 100px;
  width: 20px;
  background: #f3f3f3;
  box-shadow: 0 0 10px #f3f3f3;
  filter: blur(1px);
  opacity: 0.9;
  top: -30px;
  transition: 0.7s;
  transform: rotate(-20deg) translateX(-60px);
}

.resistration-button:hover:before {
  transform: rotate(-20deg) translate(140px, 70px);
}

/* footer */
footer {
  display: block;
  background-color: #223a70;
}

.footer-parts {
  margin-bottom: -2px;
}

.footer-parts li {
  display: inline-block;
  color: #f3f3f3;
  text-decoration: none;
}

.footer-parts a {
  display: inline-block;
  color: #f3f3f3;
  text-decoration: none;
}

.footer-parts .text-link {
  font-size: 0.8em;
  margin-left: -5px;
}

.footer-parts span {
  display: inline-block;
  width: 0;
  overflow: hidden;
  margin-right: -7px;
  margin-left: -2px;
  border-left: 1px solid #f3f3f3;
  height: 10px;
}

.platform-icon {
  font-size: 1.6em;
  color: #f3f3f3;
}

/* users(show) */
.avator {
  width: 100%;
  border-radius: 50%;
  border: 2px solid silver;
  max-width: 168px;
  margin: 5px 20px 20px;
}

.user-profile-box {
  margin: 100px 0 20px;
}

.fa-pen {
  font-size: 0.5em;
  vertical-align: 5%;
  margin-left: 1px;
  color: black;
}

.fa-paper-plane {
  font-size: 0.5em;
  vertical-align: 5%;
  margin-left: 1px;
  color: black;
}

.introduce {
  margin: 15px 0;
  word-wrap: break-word;
}

/* favorite-articlesでも使用 */
.user-articles-box {
  margin: 16px 0;
}

.user-articles-heading {
  width: 100%;
  text-align: center;
  margin: 3px 0 20px;
}

.user-boards-heading {
  width: 100%;
  text-align: center;
  margin: 1px 0 20px;
}

@media screen and (max-width: 600px) {
  .user-articles-heading {
    font-size: 18px;
  }
  .user-boards-heading {
    font-size: 18px;
  }
}

.user-boards-list {
  list-style: none;
}

.user-boards-item {
  text-align: center;
  margin-bottom: -5px;
}

.not-found-message {
  text-align: center;
  margin: 40px 0;
}

/* user(tab) */
.menu-tab-box {
  margin-bottom: 40px;
}

.menu-tab {
  font-size: 12px;

}

@media screen and (min-width: 800px) {
  .menu-tab {
    font-size: 16px;
  }
}

.menu-tab span {
  text-decoration: none;
  color: rgba(0,0,0,0.7);
}

/* user(show/follow) */
.follow-stats {
  overflow: auto;
  margin-top: 0;
  a {
    //float: left;
    padding: 0 10px;
    color: black;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
    }
  }
  h3 {
    display: inline-block;
    margin-right: 10px;
    font-weight: normal;
  }
  strong {
    display: inline-block;
  }
}

.follow-button {
  float: right;
  margin-top: -3px;
}

.btn-follow {
  border: 1px solid black;
  border-radius: 18px;
}

.btn-unfollow {
  border: 1px solid black;
  border-radius: 18px;
}

.follow-stats-list {

}

/* following / followed */
.small-avator {
  //width: 100%;
  border-radius: 50%;
  border: 2px solid silver;
  max-width: 65px;
  margin: 0 5px 10px;
}

.follow-heading {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .follow-heading {
    font-size: 18px;
  }
}

.follow-member-box {
  margin: 27px auto;
}

.follow-member-outline {
  margin-top: 20px;
  //margin: 20px auto 0;
}

.follow-member-info {

}

/* mordal */
.modal-button {
  padding: 0;
  overflow: visible;
  border: none;
  outline: none;
  background: transparent;
}

.modal-button .caption {
	font-size: 130%;
	text-align: center;
	color: #fff;
}

.modal-button .mask {
	width: 100%;
	height: 98%;
	position:	absolute;
  border-radius: 5px;
	top: 0;
	left:	0;
	opacity: 0;
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.5s ease;
	transition:	all 0.5s ease;
}

.modal-button:hover .mask {
	opacity: 1;
	padding-top: 50px;
}

.modal-header {
  border: none;
  margin-bottom: -20px;
}

.modal-time {
  //display: block;
  float: right;
}

.close-btn {
  display: inline-block;
  padding-top: 18px !important;
}

.thumbnail {
  width: 98%;
  margin-bottom: 5px;
}

.thumnail-modal {
  margin-left: 3px !important;
}

.article-modal-content{
  width: 80%;
  margin: 0 auto;
  max-width: 450px;
}

.article-modal-menu {
  margin-top: 3px;
}

.article-modal-item {
  margin-top: 5px;
}

.btn-read{
  background-color: #e6b422;
  width: 100%;
  padding: 7px 0;
  color: #f3f3f3;
  border: groove;
}

.btn-read:hover {
  color: #f3f3f3;
}

.btn-edit {
  background-color: #00bfff;
  width: 100%;
  padding: 7px 0;
  color: #f3f3f3;
  border: groove;
}

.btn-edit:hover {
  color: #f3f3f3;
}

.btn-delete {
  background-color: #c82333;
  width: 100%;
  padding: 7px 0;
  color: #f3f3f3;
  border: groove;
}

.btn-delete:hover {
  color: #f3f3f3;
}

/* article(new) */
.article-new-field {
  margin: 20px 0;
}

.title-box {
  width: 100%;
  height: 35px;
}

.content-box {
  width: 100%;
}

.image_description-box {
  width: 100%;
  height: 35px;
}

/* article(show) */
.article-heading-box {
  margin: 90px 0 0 5px;
  text-align: center;
}

.article-body-box {
  margin: 35px;
  text-align: center;
}

.article-background {
  background: red;
}

.category-tag {
  display: inline-block;
  padding: 5px 11px;
  background-color: #404040;
  border-radius: 3px;
  font-size: 12px;
  color: #f3f3f3;
}

.title-decoration {
  font-size: 40px;
  margin-top: 5px;
}

.time-decoration {
  font-size: 14px;
}

/* .picture-decoration-box {
  text-align: center;
} */

.picture-decoration {
  display: inline-block;
  max-width: 100%;
  max-height: 550px;
  margin-bottom: 20px;
}

.description-decoration {
  text-align: center;
  font-size: 1.1em;
}

.content-decoration {
  font-size: 1.3em;
}

/* articles(boardroom-parts) */
.btn-boardroom{
  background-color: #e6b422;
  width: 100%;
  padding: 7px 0;
  color: #f3f3f3;
  border: groove;
}

.btn-boardroom:hover {
  color: #f3f3f3;
}

.boardrooms-list {
  background-color: #ed542a !important;
}

.boardrooms-list::after {
  display:none;
}

.past-boardrooms-list {
  background-color: #808080 !important;
}

.past-boardrooms-list::after {
  display:none;
}

.boardroom-creater {
  text-align: center;
}

.boardroom-shower {
  text-align: center;
}

.bottom-button {
  width: 100%;
  background-color: #e0ffff;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #e0ffff;
  color: #0095d9;
  padding: 0.6em;
}

.bottom-button:hover {
  color:#4c6cb3;
}

/* mails */
.minimails-box {

}

.mail-outline {
  margin-top: 10px;
  border: 1px solid silver;
}

.mail-avator {
  width: 100%;
  border-radius: 50%;
  border: 2px solid silver;
  max-width: 40px;
}

.mail-title {
  display: block;
  color: #080808;
  background-color: #fff;
  padding: 8px 15px;
  border-radius: 3px;
}

.checked-mail-title {
  display: block;
  color: #080808;
  background-color: #f2f5f5;
  padding: 8px 15px;
  border-radius: 3px;
}

.mail-title:hover {
  text-decoration: none;
  color: #080808;
  opacity: 0.8;
}

.checked-mail-title:hover {
  text-decoration: none;
  color: #080808;
  opacity: 0.8;
}

/* mails(show) */
.mail-shower {
  margin-top: 90px;
}
