/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "slick-theme";
 @import "slick";
 @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


.mw-md {
  max-width: 576px;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.main-container {
  margin-top: 80px;
  margin-bottom: 120px;
}

/* login, resistration */
.container-login {
  @extend .container-fluid;
  border: 1px solid silver;
  border-radius: 5px;
  max-width: 576px;
  padding: 2rem;
}

@media screen and (max-width: 765px) {
  .container-login {
    @extend .container-fluid;
    border: none;
    max-width: 576px;
    padding: 2rem;
  }
}

/* header */
/* hamberger */
.navbar-toggler {
  padding-top: 5px;
  padding-bottom: 8px;
  // padding-top: 10px;
  // padding-bottom: 10px;
  // border-radius: 50%;
  border: 1px solid #ffea00 !important;
}

.navbar-toggler span {
  vertical-align: 10%;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffea00;
}

.fa-buffer {
  font-size: 15px;
  color: #ffea00;
}

.bgimage {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), image-url('newshead.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

#logo {
  font-size: 1.7em;
  font-family: 'Courgette', cursive;
  color: #ffea00;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #ffdc00;
  text-decoration: none;
}

.header-item a {
  color: #f3f3f3 !important;
}

.header-item a:hover {
  color: #d3d3d3 !important;
}

/* top-heading */
.top-heading {
  font-size: 28px;
  text-align: center;
  color: #f3f3f3;
}

.top-heading-text {
  margin-bottom: 25px;
}

/* index (foundational)*/
.guide {
  margin-top: 100px;
}

@media screen and (max-width: 765px) {
  .guide {
    margin-top: 50px;
  }
  .servise-guide-image {
    display: none;
  }
  .system-guide-image {
    display: none;
  }
}

.resistration-guide {
  text-align: center;
}

/* footer */
footer {
  display: block;
  background-color: #223a70;
}

.footer-parts-div {
  margin-left: -40px;
}

.footer-parts {
  margin-bottom: -2px;
}

.footer-parts li {
  display: inline-block;
  color: #f3f3f3;
  text-decoration: none;
}

.footer-parts a {
  display: inline-block;
  color: #f3f3f3;
  text-decoration: none;
}

.footer-parts .text-link {
  font-size: 0.8em;
  margin-left: -5px;
}

.footer-parts span {
  display: inline-block;
  width: 0;
  overflow: hidden;
  margin-right: -7px;
  margin-left: -2px;
  border-left: 1px solid #f3f3f3;
  height: 10px;
}

.platform-icon {
  font-size: 1.6em;
  color: #f3f3f3;
}
