<section id="aboutus-heading">
  <h2 class="aboutus-heading">Happy Everyday Fakenews!</h2>
</section>

<section id="service-guide">
  <div class="row service-guide guide">
    <div class="col-md-6">
      <h2 class="servise-guide-heading">
        非常に馬鹿げたニュースサイト
      </h2>
      <p class="lead">Fakenewsはクレイジーな偽ニュースサイトです。このサービスは貴方に笑顔をもたらすでしょう。</p>
      <p class="lead">会員登録したなら、ニュースを見るだけでなく、投稿することもできます。</p>
      <p class="lead">世界一のジャーナリストを目的としましょう。しかし、それは偽物です。</p>
      <p class="lead"></p>
    </div>
    <div class="col-md-6">
      <%= image_tag 'servise_guide_img', class: 'servise-guide-image img-fluid mx-auto' %>
    </div>
  </div>
</section>

<section id="system-guide">
  <div class="row system-guide guide">
    <div class="col-md-6">
      <%= image_tag 'system_guide_img', class: 'servise-guide-image img-fluid mx-auto' %>
    </div>
    <div class="col-md-6">
      <h2 class="system-guide-heading">
        愉快な仲間と言葉を交わそう
      </h2>
      <p class="lead">気に入ったニュースを見つけたら、人々と議論を交わしましょう。</p>
      <p class="lead">任意のユーザーにミニメールを送信できる上、ボードを使ってリアルタイムで話すこともできます。</p>
      <p class="lead">心ゆくまで、会話を楽しんでください。ただし、相手が人間とは限りません。</p>
    </div>
  </div>
</section>

<section id="resistration-guide">
  <div class="row resistration-guide guide">
    <div class="col-lg-12">
      <h2 class="resistration-guide-heading">
        <span>会員登録してニュースをチェック！</span>
      </h2>
      <%= link_to '新規登録', new_user_registration_path, class: 'resistration-button' %>
    </div>
  </div>
</section>
