<section id="aboutus-heading">
  <h2 class="aboutus-heading">Happy Everyday Fakenews!</h2>
</section>

<section id="service-guide">
  <div class="row service-guide guide">
    <div class="col-md-6">
      <h2 class="servise-guide-heading">
        Funny Fake News
      </h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-6">
      <%= image_tag 'servise_guide_img', class: 'servise-guide-image img-fluid mx-auto' %>
    </div>
  </div>
</section>

<section id="system-guide">
  <div class="row system-guide guide">
    <div class="col-md-6">
      <img class="system-guide-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
    <div class="col-md-6">
      <h2 class="system-guide-heading">
        Real Time Chat Discussion
      </h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</section>

<section id="resistration-guide">
  <div class="row resistration-guide guide">
    <div class="col-lg-12">
      <h2 class="resistration-guide-heading">
        <span>会員登録してニュースをチェック！</span>
      </h2>
      <%= link_to '新規登録', new_user_registration_path, class: 'resistration-button' %>
    </div>
  </div>
</section>
