<section id="aboutus-heading">
  <h2 class="aboutus-heading">Happy Everyday Fakenews!</h2>
</section>

<section id="service-guide">
  <div class="row service-guide guide">
    <div class="col-md-6">
      <h2 class="servise-guide-heading">
        馬鹿げた偽ニュースサイト
      </h2>
      <p class="lead">Fakenewsはクレイジーな偽ニュースサイトです。このサービスは、貴方に笑顔をもたらすでしょう。</p>
      <p class="lead">会員登録することで、ユーモア溢れるニュースを閲覧できる他、自分で投稿することもできます。</p>
      <p class="lead">世界一のフェイクジャーナリストを目指してください。誉れ高い称号を、誰が評価するのかは謎ですが。</p>
      <p class="lead"></p>
    </div>
    <div class="col-md-6">
      <%= image_tag 'servise_guide_img', class: 'servise-guide-image img-fluid mx-auto' %>
    </div>
  </div>
</section>

<section id="system-guide">
  <div class="row system-guide guide">
    <div class="col-md-6">
      <%= image_tag 'system_guide_img', class: 'servise-guide-image img-fluid mx-auto' %>
    </div>
    <div class="col-md-6">
      <h2 class="system-guide-heading">
        愉快な仲間と言葉を交わそう
      </h2>
      <p class="lead">気に入ったニュースを見つけたら、人々と議論を交わしましょう。</p>
      <p class="lead">ユーザー同士でミニメールを送りあえる他、ボードを使ってリアルタイムで対話することもできます。</p>
      <p class="lead">また、対話は保存されるので、いつでも見返すことができます。</p>
      <p class="lead">心ゆくまで会話を楽しんでください。ただし、話し相手が人間とは限りません。</p>
    </div>
  </div>
</section>

<section id="resistration-guide">
  <div class="row resistration-guide guide">
    <div class="col-lg-12">
      <h2 class="resistration-guide-heading">
        <span>会員登録してニュースをチェック！</span>
      </h2>
      <%= link_to '新規登録', new_user_registration_path, class: 'resistration-button' %>
    </div>
  </div>
</section>
