<%= render 'shared/article_slider', articles: @articles %>
<%= render 'layouts/flash_messages' %>

<div class="topics row no-gutters">
  <section class="col-md-6 topics-heading ranking-info">
    <h4>人気のライター</h4>
  </section>
  <section class="col-md-6 topics-heading update-info">
    <h4>更新情報</h4>
  </section>
</div>
