<div class="row develop-spec-box">
  <div class="col-md-6">
    <h4 class="development-header">開発概要</h4>
    <div class="development-contents">
      <div class="sales-block">
        <h5>■ サービス名</h5>
        <p>Fakenews</p>
      </div>
      <div class="sales-block">
        <h5>■ サービス内容</h5>
        <p>偽ニュースの投稿・意見交換サイト</p>
      </div>
      <div class="sales-block">
        <h5>■ サイトURL</h5>
        <p>https://fakenews-origin.herokuapp.com/</p>
      </div>
      <div class="sales-block">
        <h5>■ Github URL</h5>
        <p>https://github.com/Nick-Carraway-git/fakenews-origin</p>
      </div>
      <div class="sales-block">
        <h5>■ 実装において意識した点</h5>
        <h6>バックエンド部分</h6>
        <ul class="salespoints">
          <li>・モデル同士の多対多関連を必要とする機能を複数実装したこと</li>
          <li>・ユーザー同士のコミュニケーション機能(ミニメール・簡易チャットなど)を実装したこと</li>
          <li>・Rspecを用いた単体/結合テストの実装したこと</li>
        </ul>
        <h6>フロントエンド部分</h6>
        <ul class="salespoints">
          <li>・スライダーやモーダルを一部に設置することで、実践的なサービスの体裁を目指したこと</li>
          <li>・デザインテンプレートをほぼ使用せず、一からデザインを組み上げたこと</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h4 class="specification-header">開発環境</h4>
    <div class="specification-contents">
      <div class="sales-block">
        <h5>■ ホストOS</h5>
        <p>MacOs</p>
      </div>
      <div class="sales-block">
        <h5>■ 使用言語</h5>
        <p>Ruby HTML CSS JavaScript SQL</p>
      </div>
      <div class="sales-block">
        <h5>■ フレームワーク</h5>
        <p>Ruby on Rails</p>
      </div>
      <div class="sales-block">
        <h5>■ CSSフレームワーク</h5>
        <p>Bootstrap</p>
      </div>
      <div class="sales-block">
        <h5>■ JSライブラリ</h5>
        <p>Ruby on Rails</p>
      </div>
      <div class="sales-block">
        <h5>■ インフラ</h5>
        <p>Heroku Docker AWS S3</p>
      </div>
      <div class="sales-block">
        <h5>■ テストフレームワーク</h5>
        <p>Rspec</p>
      </div>
      <div class="sales-block">
        <h5>■ その他使用ツールなど</h5>
        <p>Git Github Rubocop CircleCI</p>
      </div>
      <div class="sales-block">
        <h5>■ 開発期間</h5>
        <p>1ヶ月半</p>
      </div>
    </div>
  </div>
</div>
